@font-face {
	font-family: CustomFont;
	src: url(../Font/CustomFont.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: #fff;
  line-height: 2;
  padding: 1em;
  height: 100%;
  font-family: sans-serif;
}

table {
	width: 100%;
}

th, td {
	font-weight: initial;
}

a {
	margin: 0;
	transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ---- Cards ---- */

.container-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 10px;
	margin-bottom: 10px;
}

.grid-card {
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.grid-card:hover div {
	background-color: rgb(0, 0, 0, 0.1);
	cursor: pointer;
}

.card-text {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #616161;
	font-size: 1.2em;
}

/* ---- Table ---- */

.info {
	background-color: #FAFAFA;
}
.success {
	background-color: #C8E6C9;
}
.debug {
	background-color: #B2EBF2;
}
.warning {
	background-color: #FFECB3;
}
.error {
	background-color: #FFCCBC;
}
.critical {
	background-color: #C51162;
}

.critical .column1 {
	color: #E0E0E0;
}

.critical .column2 {
	color: #FFF;
}

.critical .card-text {
	color: #E0E0E0;
}

.container-table100 {
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1px;
}

.table100 {
	background-color: #fff;
}

.column1 {
	width: 1%;
	padding-left: 10px;
	color: #757575;
	font-size: 14px;
}

.column2 {
	width: auto;
	color: #37474F;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.table100-body td {
	position: relative;
	overflow: hidden;
	padding-top: 16px;
	padding-bottom: 16px;
}

.table100-head {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.table100-body {
	overflow: auto;
	width: 100%;
}

.table100-body.table100-head {
	padding-right: 30px;
}

.table100-body td {
	font-family: CustomFont, Consolas;
	line-height: 1.4;
}

.table100-body tr {
	overflow: hidden;
	border-bottom: 10px solid #fff;
	border-radius: 10px;
}

.table100-body table {
	border-collapse: separate;
	border-spacing: 0 3px;
}

.table100-body td {
	border: transparent solid 1px;
	border-style: solid none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.table100-body td:first-child {
	border-left-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.table100-body td:last-child {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.table100-body tr:hover td {
	background-color: rgb(0, 0, 0, 0.1);
	cursor: pointer;
}

/* ---- Accordion ---- */

.accordion {
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion__item {
	padding-bottom: 10px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  border-radius: 10px;
  padding: 1em 1.5em;
  background: #ebedef;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  cursor: pointer;
  font-size: .9em;
  letter-spacing: .1em;
  transition: all .3s;
}

.accordion-header:hover {
  background: #546E7A;
  position: relative;
  z-index: 5;
  color: white;.
}

.accordion-body {
  background: #fcfcfc;
  color: #3f3c3c;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
  font-family: 'Hind', sans-serif;
  line-height: 1.8;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 184l144 144 144-144"/></svg>');
  width: 1.5em;
  height: 1.5em;
  font-family: IonIcons;
  float: right;
  position: relative;
  top: 4px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: #546E7A;
  color: white
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: black;
}
